html, body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    margin: 1em;
    background-color: #EEE;
    font-size: 100%;
    height:100%;
    text-align: center;
}

h2 {
    border-bottom: solid black;
    border-width: 2px;
}

#instructions{
    width: 33%;
    float: left;
    text-align: left;
    font-size: x-small;
    padding-bottom: 5px;
    padding-top: 5px;
}
#weatherBox{
    width: 33%;
    float:left;
    padding-bottom: 5px;
    padding-top: 5px;
    /*
    padding-top: 5px;
    padding-right: 30%;
    float: right;*/
}
#todaysEventsBox{
    width: 33%;
    float:left;
    padding-bottom: 5px;
    padding-top: 5px;
    /*padding-top: 5px;
    padding-left: 30%;
    float: left;*/
}
.login {
    text-align: left;
    
}

div#calendar {
    
    height:100%;
    
}


.calendar{
    
    /*border:solid #FFCC00;*/
    border:solid #909090;
    border-width:4px;
    border-radius: 10px;
   
    /*background-color:#FFFFCC;*/
    background-color:#D0D0D0;
    
    width:80%;
    
    height:75%;
    padding:4px;
    border-spacing:4px;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

.dayNames {
    height:5%;
    width:10%;
}

.dayLabelsClass{
    border-width:4px;
    border-radius: 10px;
    width:80%;
    padding:4px;
    border-spacing:4px;
    margin: 0 auto;
}
.dayLabelsClass td{
    
    border:solid #909090;
    border-width:2px;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    width:10%;
    height:15%;
}
.calendar td {
    border:solid #909090;
    border-width:2px;
    border-radius: 4px;
    vertical-align: top;
    text-align: right;
    width:10%;
    height:15%;
    
}

#dialog-overlay{
    width:100%;
    height:100%;
    filter:alpha(opacity=50);
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 
    display:none;
}
#Popup-Event-Dialog-Box {
    display:none;
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:328px; 
    
    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 
    /* hide it by default */
    display:none;   
    text-align:left; 
    padding:10px; 
    margin:13px;
    color:#666; 
    font-size:18px; 
}
.ui-dialog-titlebar {
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    background:#eee;
    padding:10px; 
    color:#666; 
}

.ui-button {
    margin-left: 10px !important;
}

button {

    margin:10px auto 10px auto;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
    /* button color */
    background-color: #e33100;
    
    /* css3 implementation :) */
    /* rounded corner */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    /* drop shadow */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    
    /* text shaow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.hover {
    background-color:#909090;
}

.calEvent {
    border:2px solid;
    background-color: #99FF66;
    border-radius:5px;
    text-align: left;
    font-size: xx-small;
}
.holEvent {
    border:2px solid;
    background-color: #ff8000;
    border-radius:5px;
    text-align: center;
    font-size: small;
}

#weatherWidget{
    margin: auto;
}
.weather{
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.weather-loc{
    font-size: 18px;
}

.weather-temp{
    float:left;
}
.weather-temp::before{
    content: 'Currently ';
}

.weather-humidity{
    float: right;
}
.weather-humidity::before{
    content: 'Humidity: ';
}
.weather-humidity::after{
    content: '%';
}